:root {
  --primary-text-color: #8486a9;
  --secondary-text-color: #fb6087;
  --white: #ffffff;
  --accent: #343650;
  --dark-blue: #1e1f29;
  --black: #191a24;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--black);
  text-transform: uppercase;
}

body {
  background-image: url(images/bg-stars.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 300px repeat(2, 1fr);
}


/*** TYPOGRAPHY ***/

h1, h2, h3, h4, h5, h6 {
  color: var(--white);
}

ul {
  list-style-type: none;
}

h1 {
  letter-spacing: 10px;
}

.time-container {}

.time-text {
  letter-spacing: 4px;
}


/* UTILITIES */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
}


/* LAYOUT  */

header {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  /* border: 1px solid white; */
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.time-container {
  text-align: center;
}

.time-container>div {
  font-size: 6rem;
  background-color: var(--accent);
  color: var(--secondary-text-color);
  width: 175px;
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-radius: 5px;
}

footer {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.social-links {
  width: 30%;
  min-width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/**** FOOTER ****/

.footer-wrapper {
  background-image: url(images/pattern-hills.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
